*h1,h2,h3,h4,h5,h6,p,ul,a{
    margin:0;
    padding: 0;
}*,
 *:before,
 *:after{
     box-sizing: border-box;
 }html,body{
      overflow-x: hidden;
  }body{
       background-color: #131313;
       margin: 0;
       padding: 0;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 15px;
       line-height: 1.6;
       display: flex;
       flex-direction: column;
       min-height: 100vh;

   }a{
    font-size: 16px;
    color: #009f00;
    transition: .4s;
              text-decoration: none;
    }a:not(.btn):hover{
         color: rgb(189, 194, 189);
     }p+ a:not(.btn){
          font-size: 13px;
          font-weight: 400;
          transition: .4s;
      }h1{

    height: 15px;
    text-align: center;
    color: white;}
.container{
     max-width: 1280px;
     width: 100%;
     margin: 0 auto;

 }.hero{
   opacity: .8;
      position: relative;
      display: flex;
      align-items:center ;
      min-height: 570px;
      padding-top: 150px;
      padding-bottom: 150px;
      text-align: center;
      background-size: cover;
      background-position: center;
      border-inline-start-color: #808080;
      border-inline-end-color: #252525;
  }.hero::before{

       content: "";
       position: absolute;
       left:0;
       top:0;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
   }.hero h1{
        margin-bottom: 24px;

        opacity: .8;
    }.herocontai{
         position: relative;
         max-width: 800px;
     }.hero p{
          margin-bottom: 35px;
          font-weight: 300;
          opacity: .8;
          color: #fff;
      }@media(min-width:992px){
    .lead{
        font-size: 20px;
    }
}.btn{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     height: 40px;
     border-radius: 6px;
     padding: 5px 30px;
     transition: 0.2s linear;
 }.btn-primary{
      background-color: #074fa0;
      color: #085608;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-size: 12px;
      opacity: .9;
      box-shadow: 2px 2px 4px rgb(0, 0, 0);
  }.btn-primary:hover{
       background-color: rgb(50, 132, 255);
       transform: translate3d(0,-2px,0);
   }
.navbar{
    background-color: white;

    top:0;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    left: 0%;
    width: 100%;
    height: 100px;

    z-index: 6;
}
.navbar > .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}.navbar-brand img{
     max-width: 160px;

 }.navbar-nav{
      margin-left: auto;
  }.navbar-nav ul{
       display: flex;
       list-style:none;
       margin-left: -39px;
       margin-right: 12px;
       z-index: 5;
       padding-right: 7px;

       padding-inline-start: 0;
   }.navbar-nav li{
        padding-left: 15px;
        padding-right: 18px;
        list-style-type:none ;
    }.navbar-nav li a{

         font-size: 14px;
         opacity: .9;
         letter-spacing: .5px;
         transition: opacity .3s ease;

         padding-left: 20px;
     }.navbar-nav li a{
          color: #0c0c0c;
          text-decoration: none;
          font-size: 18px;
    font-weight: 600;
          transition: 0.4s;
      }
.navbar-nav li a:hover{

  color: #082f02;


}.br{
     font-size: 23px;
 }

@media(max-width:768px ){
    .navbar-brand{
        max-width: 100%;
        width: 100%;

        padding-top: 33px;

    }.navbar-nav{

          margin: 0 auto;

      }.navbar li{

           padding-bottom: 45px;
       }
    .navbar > contai{
        padding-left: -50%;
    }.navbar-nav li a{
         font-size: 16px;
     }.navbar-nav ul{
          margin-right: -31px;
      }.hero h1{
           font-size: 22px;
           margin-bottom: -5px;
       }
}.see{
         position: absolute;
         color: #ffffff;
         background-color: #045e04;
         border: 0;

         padding:12px 20px;

         border-radius: 5px;
         font-style: normal;
         font-weight: 100;
         box-shadow: 1px 2px 4px #004b00;
         margin-top: -18px;
         margin-left: -40px;
         letter-spacing: .5;
         font-size: 14px;
     }@media(max-width:768px ){
    .navbar-brand{
        max-width: 100%;
        width: 100%;

        padding-top: 33px;

    }.navbar-nav{

          margin: 0 auto;

      }.navbar li{

           padding-bottom: 45px;
       }
    .navbar > contai{
        padding-left: -50%;
    }.navbar-nav li a{
         font-size: 16px;
     }.navbar-nav ul{
          margin-right: -31px;
      }.hero h1{
           font-size: 22px;
           margin-bottom: -5px;
       }
}@media(max-width:425px){

    .brand{
        width:100px;
    }}
@media(max-width:480px){
    .logo{
        width: 90px;
        height: 60px;

    }.navbar{
    padding-left: 0;
    padding-right: 5px;
         }
.navbar-nav li{
         margin-right: 14px;
         width:260px;
         margin-right: 60px;
     }.navbar-nav li a{
          font-size: 12px;
      }@media(max-width:360px){
    .br{
        font-size: 16px;
    }.eifel{
         width: 27px;
         height: 27px;
     }
}@media(max-width:350px){
    .br{
        font-size: 14px;
    }.eifel{
         width: 25px;
         height: 25px;
     }

}.navbar-nav{
     width: 310px;
 }
}.container{
     max-width: 1280px;
     width: 100%;
     margin: 0 auto;

 }.herocontai{
      position: relative;
      max-width: 800px;
  }.demot{
       position: relative;
       margin-left: 15px;
   }.container1{
    border-radius: 10px;
    padding-top: 10px;
        max-width: 1280px;
        width: 50%;
        min-height:200px;
    margin: auto;
    animation-name: opening;
    animation-duration: 1s;
    background: #0e0e0e;

    }@media(max-width:940px){
    .container1{

        width: 70%;
        min-height:220px;


    }
}@media(max-width:380px){
    .container1{
        width: 98%;

        min-height:240px;


    }
}@media(max-width:280px){
    .container1{
        width: 98%;

        min-height:255px;


    }
}.slider{
      padding-left: 5px;
      padding-right: 5px;
      width:600px;
      height: 400px;

      margin: 0 auto;
      overflow: hidden;

  }.slider-line{
       left:0;
       transition: all ease 1s;
       height: 300px;
       width:1200px;

       display: flex;
       position: relative;
   }
/*.slider-next{
       position: absolute;
       background: none;
       border: 0;
       height: 40px;
       width: 40px;
       margin: auto;
       margin-left: 950px;
       margin-top: -245px;
}.slider-prev{ */
/* position: absolute;
background: none;
border: 0;
height: 40px;
width: 40px;
margin: auto;
margin-top: -245px;
margin-left: 250px;
}.buttons{ */


.grey{
    margin-top:40px;
    padding-top: 20px;
    border-top: 1px solid #939393;

}.func{
     align-items: center;
     padding-left: 7px;
     padding-right: 7px;
     position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
     margin: 0 auto;

     padding-top: 30px;
 }.red{
      color: rgb(21, 111, 255);
      font-size: 15px;
  }p{
       color: #fff;
   }@media(max-width:575px){
    .func{
        text-align: center;
    }
}.slider-prev{
     background: none;
     border: 0cm;
 }.slider-next{
      background: none;
      border: 0cm;

  }.buttons{
       display: table;
       margin: auto;
       padding-top: 20px;
   }@media(max-width:660px){
    .slider{
        width:400px ;
        height: 300px;
    }
}@media(max-width:430px){
    .img{
        width: 100%;

    }
}.functions{

     padding-top: 30px;
     width:max-content;
     margin:0 auto ;
 }.buy{
      background-color: #0539e5;
      color: #fff;
      border: 0;
      height: 35px;
      width:80px;
      border-radius: 4px;
  }.arenda{
       background-color: #0539e5;
       color: #fff;
       border: 0;
       height: 35px;
       width:80px;
       border-radius: 4px;
   }.buy:hover{
        background-color: #94adff;
        transition: .4s;
    }.arenda:hover{
         background-color: #94adff;
         transition: .4s;
     }.label1{
          margin-left: 100px;
          width:100px;
          color: #fff;
      }.label{
           margin-left: 60px;
           color: #fff;

       }.min{
            width:304px;
            height: auto;
            border:2px solid #131313;
        }.a1{
             position: relative;
             width: 300px;
             height: 200px;


         }@media(max-width:620px){
    .buy{
        height:30px;
        width: 70px;
        font-size: 14px;
    }.arenda{
         height: 30px;
         width: 70px;
         font-size: 14px;
     }.label{
          margin-left: 15px;
          font-size: 14px;

      }.search{
           width: 120px;
       }.searchbtn{
            width: 90px;
            height: 35px;
            font-size: 14px;

        }
}@media(max-width:490px){
    .buy{
        height:30px;
        width: 60px;
        font-size: 10px;
    }.arenda{
         height:30px;
         width: 60px;
         font-size: 10px;
     }.label{
          margin-left: 10px;
          color: #fff;
          font-size: 10px;

      }.searchbtn{
           width: 67px;
           height: 30px;
           font-size: 10px;
       }}
@media(max-width:400px){
    .buy{
        height:30px;
        width: 50px;
        font-size: 10px;
    }.arenda{
         height:30px;
         width: 50px;
         font-size: 10px;
     }.label{
          margin-left: 5px;
          color: #fff;
          font-size: 9px;

      }.searchbtn{
           width: 67px;
           height: 30px;
           font-size: 10px;
       }}


@media(max-width:370px){
    .buy{
        height:30px;
        width: 45px;
        font-size: 9px;
    }.arenda{
         height:30px;
         width: 45px;
         font-size: 9px;
     }.label{
          margin-left: 5px;
          color: #fff;
          font-size: 9px;

      }.searchbtn{
           width: 57px;
           height: 30px;
           font-size: 8px;
       }.search{
            width: 80px;
            height: 25px;}}
@media(max-width:315px){
    .functions{
        align-items: center;
        width: 300px;
        margin: auto;
        padding-top: 20px;
    }.searchbtn{
         margin-top: 20px;

     }
}@media(max-width:500px){
    .k{
        margin:auto;
        width: 200px;


    }
}


.pop_up{
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0 , .8);
      z-index: 2;
      transition: .4s;
  }.pop_up_container{
       display: flex;
       width: 100%;
       height: 100%;
   }.pop_up_body{
        height: 550px;
        position: relative;
        margin: auto;
        width: 500px;
        background-color: #181818;
        border-radius:10px ;
        text-align: center;
        padding: 10px 15px 10px 10px;

    }.pop_up_body p{
         font-size: 24px;

         color: #ffffff;
     }.pop_up_body input{
          display: block;
          margin: 20px auto 0px auto;
          width: 300px;
          padding: 17px 20px;
          border-radius: 5px;
          border: rgb(71, 71, 71) solid 2px;
          color: #fff;
          background-color: #313131;

      }.pop_up_body button{
           cursor: pointer;
           display: block;
           width: 150px;
           margin: 20px auto 0px auto;
           padding: 15px 20px;
           border: none;
           border-radius: 5px;
           color: #fff;
           font-weight: 300;

           background-color: #0539e5;
       }.pop_up_close{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 21px;
            cursor: pointer;
            color:#fff ;
        }.pop_up.active{
             display: block;
         }textarea {
              margin-top: 20px;
              position: relative;
              max-height: 150px;
              max-width: 400px;
              min-width: 100px;
              font-size: 14px;

              width: 100%;
              background-color:  #313131;
              border: rgb(71, 71, 71) solid 2px ;
              color:#fff;}
.logo{
    height: 105px;
    width: 170px;}
.texth1{
    opacity: 1;
    font-weight: 400;}
.func p{
    font-size: 17px;
                      }
.func h1{
    text-align: center;
   }
.op{
    height: 400px;
    width: 100%;
    justify-content: space-between;
    display: flex;
   gap: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}.catalog{
     background: url("./imges/green.png");
padding-top: 20px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap:15px;
 }.iimg{
    max-width: 150px;
    max-height: 210px;
    min-height: 130px;
    min-width: 150px;
    box-shadow: #0a670a 5px 5px 15px 5px;
       }.item{
    height: auto;
    max-width: 280px;
    align-content: center;
    text-align: center;
    background: #131313;
    box-shadow: 4px 4px 4px 4px #061107;
    transition: .3s;
   padding-bottom: 10px;
               padding-left: 20px;
               padding-right: 20px;}
.ord{
    background: #00c000;
    color: white;
    padding: 8px 8px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
  margin: auto;
    width: 100px;
    height: 15px;
box-shadow: 2px 2px 2px  #082f02;
        }

.info h1{
    padding-bottom: 35px;
    height: 20px;
    opacity: .9;
    font-size: 19px;
    font-weight: 500;
         }
.p{
    height: 11px;
    opacity: .8;
    font-size: 15px;
    font-weight: 600;
}.price{
    opacity: .9;
 }.catalo{
       position: relative;
    border: none;
    width:1250px;
    background: none;
   }.item button:hover{
     background: #009f00;
       }.item:hover{
                   box-shadow: 1px 1px 4px 1px #7fe07f;
    opacity: .9;
               }.item button{
    transition: .3s;
                               }
                .imgm{
                    margin: auto;
                    width: 140px;
                    height: 90px;
                }.catalo a{

    text-align: center;
    margin: auto;
                                 }
  .catalo p{
      font-size: 18px;
      font-weight: 500;
  }.funct{
    opacity: .9;
         background: url("./imges/green.png");
     }
   @keyframes opening {
       from{margin-left: 0}
       to{margin-left: 300px}
   }.footer-row{
    padding-left: 20px;
    padding-right: 20px;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }.footer-social{
         display: flex;
         list-style: none;
         align-items: center;
     }.footer-social li{
          padding-left: 10px;
          padding-right: 10px;
      }.footer-social a{
    font-size: 19px;
    color: white;
           opacity:.9;
       }.footer-social a:hover{
            opacity: .5;
        }.footer-social img{
             max-width: 25px;
         }
small{
    color: white;
    font-size: 17px;
}.view{
    padding-bottom: 20px;
 }
.price{
padding-top: 5px;
    padding-bottom: 5px;
}.img{
     box-shadow: 4px 4px 10px 4px #0a670a;
     margin: auto;
     position: relative;
     max-width: 300px;
     height: 350px;
 }
 @keyframes myanime {
     from {margin-left: -100px;opacity: 0}
     to{margin-left: 40px;opacity: 1}
 }.aimg{
       box-shadow: 4px 4px 10px 4px #0a670a;
       margin: auto;
       position: relative;
       max-width: 300px;
       height: 350px;
    animation-name: myanime;
    animation-duration: 2s;
   }
@media(max-width: 600px){
    .logo{
        width: 140px;
        height: 100px;
    }
}.h1b{
    padding-top: 20px;
    padding-bottom: 30px;
 }#about{
    padding-bottom: 30px;
   }
